<html>
    <head>
        <title>Login</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <h1>Login Form</h1>
        <label>Username: </label>
        <input type="text" placeholder="Enter Username" name="username" required>  
        <br><br>
        <label>Password: </label>
        <input type="text" placeholder="Enter Password" name="password" required>
        <br><br>

        <button>Login</button>
    </body>
    </html>